*{
    margin:0;
    padding:0;
}
label>font{
    color:red;
}
*:focus{
    outline:none;
}
input{
    background:transparent;
}
.input_label{
    float:left;
    vertical-align:middle;
    line-height:18px;
}
input[type="text"]{
    border:1px solid #CACACA;
    background:none repeat scroll 0% 0% #FFF
    width:250px;
    height:18px;
    line-height:18px;
    float:left;
    padding:3px;
    display:inline;
}
input[type="text"]:hover,input[type="text"]:focus{
    border:1px solid green;
}
.inputbox{
    border-radius:5px; 
    margin-right:5px;
    margin-left:5px;
}
p.reg_error img{
    float:left;
    vertical-align:middle;
    padding:3px 5px 3px 0px;
}
p.reg_error span{
    border:1px solid red;
    background:none repeat scroll 0% 0% #F9F7E0;
    line-height:20px;
    font-size:12px;
    height:20px;
    padding:0px 5px;
    display:block;
    float:left;
}
