<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/manage/manage_index.css" type="text/css">
</head>
<body>
    <div class="left_nav">
        <div class="nav_title">操作</div>
        <div class="nav_action">
            <ul class="link_action">
                <li><a href="/note_add">添加记录</a></li>
                <li>草稿箱</li>
                <li>设置默认编辑器</li>
            </ul>
        </div>
    </div>
    <div class="right_container">
        <div>
            <span>标题</span>
            <span>发布状态</span>
            <span>评论</span>
            <span>页面浏览</span>
            <span>操作</span>
            <span>操作</span>
        </div>
    </div>
</body>
</html>
