*{
    margin:0;
    padding:0;
}
.div_input{
    margin:5px;
}
.div_input ul,.div_input ul li{
    display:inline;
    margin-right:15px;
}
div>label{
    display:block;
    float:left;
    width:100px;
    text-align:right;
    margin-right:10px;
}
label>font{
    color:red;
}
*:focus{
    outline:none;
}
input{
    background:transparent;
}
input[type="text"],input[type="password"],input[type="email"]{
    border:1px solid #CACACA;
    background:none repeat scroll 0% 0% #FFF
    width:250px;
    height:18px;
    line-height:18px;
    padding:3px;
}
input:hover,input:focus{
    border:1px solid green;
}
.inputbox{
    border-radius:5px; 
    margin-right:5px;
    margin-left:5px;
}
p.reg_error img{
    float:left;
    vertical-align:middle;
    padding:3px 5px 3px 0px;
}
p.reg_error span{
    border:1px solid red;
    background:none repeat scroll 0% 0% #F9F7E0;
    line-height:20px;
    font-size:12px;
    height:20px;
    padding:0px 5px;
    display:block;
    float:left;
}
